.classes-tiles {
    display: grid;
    place-items: center;
    width:100%;
}

/* .class-tile {
    border: 5px black solid;
    min-height: 200px;
    min-width: 200px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: #3CBAAB;

} */